@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 19%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 19%;

    --accent: 0 0% 19%;
    --accent-foreground: 100 100% 100%;

    --border: 100 100% 100%;
    --sale: 0 100% 36%;

    --radius: 0.5rem;
    --font-size: 0.875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-body text-foreground;
  }
}
